CREATE TABLE IF NOT EXISTS users (id SERIAL PRIMARY KEY, username VARCHAR(255) UNIQUE NOT NULL, email VARCHAR(255), password VARCHAR(255) NOT NULL, created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP); CREATE TABLE IF NOT EXISTS user_data (user_id VARCHAR(255) PRIMARY KEY, state JSONB NOT NULL, last_updated TIMESTAMP DEFAULT CURRENT_TIMESTAMP);
